:root {
	--white: #FFFFFF;
	--lightergrey: #eff1f1;
	--lightgrey: #DDE4E7;
	--grey: #B3BBBD;
	--darkgrey: #8F9598;
	--darkergrey: #727575;
	--black: #000000;
	--layer-size: 64px;
}

@font-face {
	font-family: 'VT323';
	src: url('VT323-Regular.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	font-family: 'VT323', monospace;
	font-size: 16px;
    -webkit-user-select: none;  /* Safari and iOS */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* Standard */
}

html {
	/* width: 100vw; */
	/* height: 100vh; */
}

html, body, canvas {
    -webkit-touch-callout: none; /* Disable callout, like when long-pressing links */
    -webkit-tap-highlight-color: transparent; /* Remove the tap highlight */
    touch-action: none; /* Disable any browser default touch behavior */
}

body {
	margin: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-color: var(--darkgrey);
	color: var(--black);
}

#tool-tip, #brush-color-tool-tip, #canvas-color-tool-tip {
	position: absolute;
	width: 16px;
	height: 16px;
	z-index: 5;
	pointer-events: none;
	cursor: none;
}

#tool-tip > .icon {
	filter:
		drop-shadow(1px 0 0 white)
		drop-shadow(-1px 0 0 white)
		drop-shadow(0 1px 0 white)
        drop-shadow(0 -1px 0 white);
}

#easel {
	background-size: 40px 40px;
	background-image: 
		linear-gradient(45deg, var(--grey) 25%, transparent 25%, transparent 75%, var(--grey) 75%, var(--grey)),
		linear-gradient(45deg, var(--grey) 25%, transparent 25%, transparent 75%, var(--grey) 75%, var(--grey));
	background-position: 0 0, 20px 20px;
	background-color: var(--darkgrey);
}

#row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow: auto;
}

#top-bar, #left-bar, #right-bar, #bottom-bar {
	z-index: 2;
	background-color: var(--lightgrey);
	display: flex;
	gap: 4px;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 4px;
}

#top-bar, #bottom-bar {
	flex-direction: row;
}

#left-bar, #right-bar {
	flex-direction: column;
	padding-top: 0;
	padding-bottom: 0;
}

#commands, #colors {
	display: flex;
	/* flex-shrink: 0; */
	flex-direction: row;
	/* flex-wrap: wrap; */
	gap: 4px;
}

#colors {
	flex-wrap: wrap;
}

#options {
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 4px;
}

#right-bar {
	justify-content: flex-end;
}

#layer-commands {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 4px;
}


#studio {
	/* position: relative; */
	flex-grow: 1;
	height: 100%;
	border-top: 2px solid var(--darkergrey);
	border-left: 2px solid var(--darkergrey);
	border-bottom: 2px solid var(--lightergrey);
	border-right: 2px solid var(--lightergrey);
	cursor: none;
}

#easel {
	position: absolute;
	border: 1px solid var(--black);
	z-index: -1;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.button {
	background-color: var(--lightgrey);
	border-bottom: 2px solid var(--darkgrey);
	border-right: 2px solid var(--darkgrey);
	border-top: 2px solid var(--lightergrey);
	border-left: 2px solid var(--lightergrey);
	cursor: pointer;
}

.button:hover {
	background-color: var(--grey);
}

.button:hover > .sub-icon,
.button.active > .sub-icon {
	filter:
		drop-shadow(1px 0 0 var(--grey))
		drop-shadow(-1px 0 0 var(--grey))
		drop-shadow(0 1px 0 var(--grey))
        drop-shadow(0 -1px 0 var(--grey));
}

.button:hover > .key-hint,
.button.active > .key-hint {
	text-shadow:
		1px 1px 0 var(--grey),
		-1px 1px 0 var(--grey),
		-1px -1px 0 var(--grey),
		1px -1px 0 var(--grey);
}

.button.active, .button:active {
	background-color: var(--grey);
	border-bottom: 2px solid var(--lightergrey);
	border-right: 2px solid var(--lightergrey);
	border-top: 2px solid var(--darkgrey);
	border-left: 2px solid var(--darkgrey);
}

.tool-button, .command-button, .option-button {
	position: relative;
	width: 38px;
	height: 38px;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.info-button {
	justify-self: flex-end !important;
}

.icon {
	width: 22px;
	height: 22px;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tool-button > img, .command-button > img, .option-button > img {
	width: 22px;
	height: 22px;
	object-fit: contain;
}

.sub-icon {
	position: absolute;
	width: 12px !important;
	height: 12px !important;
	bottom: 2px;
	right: 2px;
	font-size: 12px;
	filter:
		drop-shadow(1px 0 0 var(--lightgrey))
		drop-shadow(-1px 0 0 var(--lightgrey))
		drop-shadow(0 1px 0 var(--lightgrey))
        drop-shadow(0 -1px 0 var(--lightgrey));
}

.key-hint, .quick-key-hint {
	display: block;
	position: absolute;
	line-height: 12px;
	top: 0;
	left: 2px;
	/* color: var(--white); */
	color: var(--black);
	text-shadow:
		1px 1px 0 var(--lightgrey),
		-1px 1px 0 var(--lightgrey),
		-1px -1px 0 var(--lightgrey),
		1px -1px 0 var(--lightgrey);

	/* text-shadow: */
	/* 	1px 1px 0 #000, */
	/* 	-1px 1px 0 #000, */
	/* 	-1px -1px 0 #000, */
	/* 	1px -1px 0 #000; */
	pointer-events: none;
}

.quick-key-hint {
	top: initial;
	left: initial;
	bottom: 2px !important;
	right: 2px !important;
}


.puck, #brush-color, #canvas-color {
	width: 38px;
	height: 38px;
	border-top: 2px solid var(--darkgrey);
	border-left: 2px solid var(--darkgrey);
	border-bottom: 2px solid var(--lightergrey);
	border-right: 2px solid var(--lightergrey);
	flex-shrink: 0;
	cursor: crosshair;
}

#layers {
	width: var(--layer-size);
	position: absolute;
	right: 48px;
	bottom: 48px;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	overflow-y: scroll;
	min-height: 0;
	padding: 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

#layers::-webkit-scrollbar {
	display: none;
}

.layer {
	width: var(--layer-size);
	height: var(--layer-size);
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid var(--black);
	border-left: 1px solid var(--black);
	border-right: 1px solid var(--black);
	position: relative;

}

.layer:first-child {
	border-bottom: 1px solid var(--black);
}

/* .layer:nth-child(1) { */
/* 	border-bottom: 1px solid var(--black); */
/* } */

.layer:hover > .layer-preview {
	border-color: var(--darkergrey);
}

.layer.active > .layer-preview {
	border-color: var(--black) !important;
}

.layer-preview {
	width: 100%;
	height: 100%;
	background-color: var(--darkgrey);
	border-top: 3px solid;
	border-left: 3px solid;
	border-right: 3px solid;
	border-bottom: 3px solid;
	border-color: var(--darkgrey);
}

.mini-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1px;
}

.mini-button > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.layer-preview {
	object-fit: contain;
}

#size, #zoom, #brush-size {
	display: flex;
	flex-direction: row;
	gap: 4px;
	flex-wrap: nowrap;
}

.size-input, .brush-size-input, .zoom-input {
	padding-top: 12px;
	display: block;
	font-size: 24px;
	border-top: 2px solid var(--darkgrey);
	border-left: 2px solid var(--darkgrey);
	border-bottom: 2px solid var(--lightergrey);
	border-right: 2px solid var(--lightergrey);
	width: 64px;
	height: 38px;
}

.zoom-input {
	width: 64px;
}

.size-input::-webkit-inner-spin-button,
.size-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.size-input-wrapper, .zoom-input-wrapper, .brush-size-input-wrapper {
	position: relative;
}
.size-input-wrapper:after, .brush-size-input-wrapper:after, .zoom-input-wrapper:after {
	content: 'px';
	position: absolute;
	right: 4px;
	bottom: 4px;
	pointer-events: none;
}
.zoom-input-wrapper:after {
	content: 'X';
}

.zoom-input-wrapper:before, .size-input-wrapper:before, .brush-size-input-wrapper:before {
	content: 'zoom';
	position: absolute;
	top: 1px;
	left: 4px;
	pointer-events: none;
}
.brush-size-input-wrapper:before {
	content: 'brush';
}
.height-input-wrapper:before {
	content: 'height';
}
.width-input-wrapper:before {
	content: 'width';
}


#info-tip {
	padding-left: 8px;
	padding-top: 4px;
	background-color: var(--lightgrey);
	z-index: 5;
	overflow: hidden;
	white-space: nowrap;
	flex-shrink: 0;
}

#version {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px;
	z-index: 6;
}

.hidden {
	display: none;
}

.hidden-indicator {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	pointer-events: none;
}

@media only screen and (max-width: 768px) {
	#left-bar, #right-bar {
		overflow-y: scroll;
		flex-wrap: nowrap;
		/* padding-bottom: 8px; */
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	#left-bar::-webkit-scrollbar,
	#right-bar::-webkit-scrollbar,
	#top-bar::-webkit-scrollbar,
	#bottom-bar::-webkit-scrollbar {
		display: none;
	}

	#colors {
		flex-wrap: nowrap;
	}

	#top-bar, #bottom-bar {
		overflow-x: scroll;
		overflow-y: hidden;
		flex-shrink: 0;
		/* height: max-content; */
		flex-wrap: nowrap;
		/* padding-bottom: 10px; */
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	
}
